<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luck.report.web.modules.file.mapper.ReportTemplateMapper">

    <sql id="fullColumns">
        id, title, template, del_flag, create_time, update_time, create_by, update_by
    </sql>

    <sql id="listColumns">
        id, title, del_flag, create_time, update_time, create_by, update_by
    </sql>

    <sql id="queryWhere">
        WHERE del_flag = 0
        <if test="queryDTO != null and queryDTO.name != null and queryDTO.name != ''">
            <bind name="namePattern" value="'%' + queryDTO.name + '%'" />
            AND title LIKE #{namePattern}
        </if>
    </sql>

    <insert id="insert">
        INSERT INTO luck_report_template (id, title, template, del_flag, create_time, update_time, create_by, update_by)
        VALUES (#{id}, #{title}, #{template}, #{delFlag}, #{createTime}, #{updateTime}, #{createBy}, #{updateBy})
    </insert>

    <update id="updateById">
        UPDATE luck_report_template
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null">title = #{title},</if>
            <if test="template != null">template = #{template},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            update_time = #{updateTime},
        </trim>
        WHERE id = #{id}
    </update>

    <update id="updateMeta">
        UPDATE luck_report_template
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null">title = #{title},</if>
            update_time = #{updateTime},
        </trim>
        WHERE id = #{id} AND del_flag = 0
    </update>

    <select id="selectById" resultType="com.luck.report.web.modules.file.domain.entity.ReportTemplate">
        SELECT <include refid="fullColumns"/>
        FROM luck_report_template
        WHERE id = #{id} AND del_flag = 0
    </select>

    <select id="selectList" resultType="com.luck.report.web.modules.file.domain.entity.ReportTemplate">
        SELECT <include refid="listColumns"/>
        FROM luck_report_template
        <include refid="queryWhere"/>
        ORDER BY update_time DESC
    </select>

    <update id="deleteById">
        UPDATE luck_report_template SET del_flag = 1 WHERE id = #{id}
    </update>

    <select id="selectPage" resultType="com.luck.report.web.modules.file.domain.entity.ReportTemplate">
        SELECT <include refid="listColumns"/>
        FROM luck_report_template
        <include refid="queryWhere"/>
        ORDER BY update_time DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="selectCount" resultType="long">
        SELECT COUNT(*) FROM luck_report_template
        <include refid="queryWhere"/>
    </select>

</mapper>
