<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luck.report.web.modules.datasource.mapper.ReportDatasourceMapper">

    <sql id="baseColumns">
        id, name, type, host, port, database_name, username, password, connection_url,
        is_enabled AS enabled, test_status, description, initialized_tables, create_by, create_time, update_time, update_by, del_flag
    </sql>

    <sql id="listWhere">
        WHERE del_flag = 0
        <if test="queryDTO != null and queryDTO.name != null and queryDTO.name != ''">
            AND name = #{queryDTO.name}
        </if>
        <if test="queryDTO != null and queryDTO.type != null and queryDTO.type != ''">
            AND type = #{queryDTO.type}
        </if>
        <if test="queryDTO != null and queryDTO.enabled != null">
            AND is_enabled = #{queryDTO.enabled}
        </if>
    </sql>

    <sql id="pageWhere">
        WHERE del_flag = 0
        <if test="queryDTO.name != null and queryDTO.name != ''">
            <bind name="namePattern" value="'%' + queryDTO.name + '%'" />
            AND name LIKE #{namePattern}
        </if>
        <if test="queryDTO.type != null and queryDTO.type != ''">
            AND type = #{queryDTO.type}
        </if>
        <if test="queryDTO.enabled != null">
            AND is_enabled = #{queryDTO.enabled}
        </if>
    </sql>

    <insert id="insert">
        INSERT INTO luck_report_datasource (id, name, type, host, port, database_name, username, password,
                connection_url, is_enabled, test_status, description, initialized_tables, create_by, create_time, update_by, update_time, del_flag)
        VALUES (#{id}, #{name}, #{type}, #{host}, #{port}, #{databaseName}, #{username}, #{password},
                #{connectionUrl}, #{enabled}, #{testStatus}, #{description}, #{initializedTables}, #{createBy}, #{createTime}, #{updateBy}, #{updateTime}, #{delFlag})
    </insert>

    <update id="updateById">
        UPDATE luck_report_datasource SET name = #{name}, type = #{type}, host = #{host}, port = #{port},
                database_name = #{databaseName}, username = #{username}, password = #{password},
                connection_url = #{connectionUrl}, is_enabled = #{enabled}, description = #{description},
                initialized_tables = #{initializedTables}, update_time = #{updateTime}, update_by = #{updateBy}
        WHERE id = #{id}
    </update>

    <select id="selectById" resultType="com.luck.report.web.modules.datasource.domain.entity.ReportDatasource">
        SELECT <include refid="baseColumns"/>
        FROM luck_report_datasource WHERE id = #{id} AND del_flag = 0
    </select>

    <select id="selectList" resultType="com.luck.report.web.modules.datasource.domain.entity.ReportDatasource">
        SELECT <include refid="baseColumns"/>
        FROM luck_report_datasource
        <include refid="listWhere"/>
        ORDER BY create_time DESC
    </select>

    <update id="deleteById">
        UPDATE luck_report_datasource SET del_flag = 1 WHERE id = #{id}
    </update>

    <update id="updateTestStatusById">
        UPDATE luck_report_datasource SET test_status = #{testStatus}, update_time = #{updateTime} WHERE id = #{id}
    </update>

    <update id="updateEnabledById">
        UPDATE luck_report_datasource SET is_enabled = #{enabled}, update_time = #{updateTime} WHERE id = #{id}
    </update>

    <select id="selectByIds" resultType="com.luck.report.web.modules.datasource.domain.entity.ReportDatasource">
        SELECT <include refid="baseColumns"/>
        FROM luck_report_datasource WHERE del_flag = 0 AND id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        ORDER BY create_time DESC
    </select>

    <update id="updateInitializedTables">
        UPDATE luck_report_datasource SET initialized_tables = #{initializedTables}, update_time = #{updateTime} WHERE id = #{id}
    </update>

    <select id="selectPage" resultType="com.luck.report.web.modules.datasource.domain.entity.ReportDatasource">
        SELECT <include refid="baseColumns"/>
        FROM luck_report_datasource
        <include refid="pageWhere"/>
        ORDER BY create_time DESC
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <select id="selectCount" resultType="long">
        SELECT COUNT(*) FROM luck_report_datasource
        <include refid="pageWhere"/>
    </select>

</mapper>
